<%- include('../partials/header') %>
<h1>Edit Task</h1>

<% if (errors && errors.length) { %>
  <ul style="color:red;">
    <% errors.forEach(err => { %>
      <li><%= err.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form action="/tasks/<%= task.id %>?_method=PUT" method="POST">
  <div>
    <label>Title</label>
    <input name="title" value="<%= old && old.title ? old.title : task.title %>" required>
  </div>
  <div>
    <label>Description</label>
    <textarea name="description"><%= old && old.description ? old.description : task.description %></textarea>
  </div>
  <button type="submit">Update</button>
</form>
<a href="/tasks">Back</a>